body{
	max-width: 960px;
	margin: auto;

}

.header{
	text-align: center;
	font-size: 40px;
}

.my-turn{
	text-align: center;
	position: relative;
	background-color: red;
	color: white;
	width: 30%;
	margin-left: 35%;
	border-radius: 5px;
	padding: 10px 0 10px 0;
}
#startOverBtn {
	display: none;
	text-align: center;
	position: relative;
	background-color: green;
	color: white;
	width: 30%;
	margin-left: 35%;
	border-radius: 5px;
	padding: 10px 0 10px 0;
}
#startOverBtn:hover {
	cursor: pointer;
}

#board{
	position: relative;
	background-color: white;
	height: 600px;
	margin-top: 20px;
}

.square:hover {
	cursor: pointer;
}

.hline{
	height: 10px;
	background-color: black;
	margin: auto;
}

.hline.one{
	position: absolute;
	top: 33%;
	left: 5%;
	height: 10px;
	width: 90%;
	background-color: black;
}

.hline.two{
	position: absolute;
	top: 66%;
	left: 5%;
	height: 10px;
	width: 90%;

}

.vline{
	width: 10px;
	height: 90%;
	background-color: black;

}

.vline.one{
	position: absolute;
	top:5%;
	left: 33%;
}

.vline.two{
	position: absolute;
	top: 5%;
	left: 66%;
}

#a1{
	position: absolute;
	background-color: white;
	top: 7%;
	left: 7%;
	height: 22%;
	width: 22%;
}

#a2{
	position: absolute;
	background-color: white;
	top: 7%;
	left: 39%;
	height: 22%;
	width: 22%;
}

#a3{
	position: absolute;
	background-color: white;
	top: 7%;
	left: 71%;
	height: 22%;
	width: 22%;
}

#b1{
	position: absolute;
	background-color: white;
	top: 39%;
	left: 7%;
	height: 22%;
	width: 22%;
}

#b2{
	position: absolute;
	background-color: white;
	top: 39%;
	left: 39%;
	height: 22%;
	width: 22%;
}

#b3{
	position: absolute;
	background-color: white;
	top: 39%;
	left: 71%;
	height: 22%;
	width: 22%;
}

#c1{
	position: absolute;
	background-color: white;
	top: 71%;
	left: 7%;
	height: 22%;
	width: 22%;
}

#c2{
	position: absolute;
	background-color: white;
	top: 71%;
	left: 39%;
	height: 22%;
	width: 22%;
}

#c3{
	position: absolute;
	background-color: white;
	top: 71%;
	left: 71%;
	height: 22%;
	width: 22%;
}

img{
	margin: auto;
	display: block;
	max-height: 98%;
	
}

/* ---------- styles for the red line through the winning squares ----*/


#left-diag{
	display: none;
	width: 5px;
	height: 150%;
	background-color: red;
	position: absolute;
	top: 10%;
	left: 10%;
	transform: rotate(-56.5deg);
	transform-origin: 0% 0%;
	z-index: 1;
}

#right-diag {
	display: none;
	width: 5px;
	height: 150%;
	background-color: red;
	position: absolute;
	top: 10%;
	left: 90%;
	transform: rotate(56.5deg);
	transform-origin: 0% 0%;
	z-index: 1;
}
#top-horiz {
	display: none;
	width: 5px;
	height: 130%;
	background-color: red;
	position: absolute;
	top: 18%;
	left: 8%;
	transform: rotate(-90deg);
	transform-origin: 0% 0%;
	z-index: 1;
}
#mid-horiz {
	display: none;
	width: 5px;
	height: 130%;
	background-color: red;
	position: absolute;
	top: 50%;
	left: 8%;
	transform: rotate(-90deg);
	transform-origin: 0% 0%;
	z-index: 1;
}

#bottom-horiz {
	display: none;
	width: 5px;
	height: 130%;
	background-color: red;
	position: absolute;
	top: 82%;
	left: 8%;
	transform: rotate(-90deg);
	transform-origin: 0% 0%;
	z-index: 1;
}
#left-vert {
	display: none;
	width: 5px;
	height: 95%;
	background-color: red;
	position: absolute;
	top: 3%;
	left: 18%;
	transform: rotate(0 deg);
	transform-origin: 0% 0%;
	z-index: 1;
}
#mid-vert {
	display: none;
	width: 3px;
	height: 95%;
	background-color: red;
	position: absolute;
	top: 3%;
	left: 50%;
	transform: rotate(0 deg);
	transform-origin: 0% 0%;
	z-index: 1;
}
#right-vert {
	display: none;
	width: 3px;
	height: 95%;
	background-color: red;
	position: absolute;
	top: 3%;
	left: 82%;
	transform: rotate(0 deg);
	transform-origin: 0% 0%;
	z-index: 1;
}








